/* Fonts */
@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Light.woff2) format('woff2'),
        url(../fonts/Lato-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.woff2) format("woff2"),
        url(../fonts/Raleway-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.woff2) format("woff2"),
        url(../fonts/Lato-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Bold.woff2) format("woff2"),
        url(../fonts/Lato-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Medium.woff2) format("woff2"),
        url(../fonts/Raleway-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Black.woff2) format("woff2"),
        url(../fonts/Lato-Black.woff) format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Css custom props */
:root {
    --white-color: #fff;
    --brand-color: #285a43;
    --text-color: rgba(18, 18, 18, 0.8);
    --text-green: #337a5b;
}

/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", "Raleway", "Arial", sans-serif;
    line-height: 1.5;
    background-color: #f5f5f5;
    color: var(--text-color) ;
}

img {
    max-width: 100%;
    height: auto;
}

/* Visually hidden */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* Containers */
.lg-container {
    width: 100%;
    max-width: 1480px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.md-container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Buttons */
.main-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
    background-color: inherit;
    border-radius: 3px;
}
.main-btn__white {
    border: 1px solid var(--white-color);
    font-weight: 700;
    transition: border-color 0.3s ease,
    color 0.3s ease;
}
.main-btn__white:hover {
    border: 1px solid var(--brand-color);
    color: var(--brand-color);
}

.main-btn__order {
    background-color: var(--brand-color);
    border: 1px solid transparent;
    padding: 11px 49px;
    transition: background-color 0.3s ease;
}
.main-btn__order:hover {
    background-color: inherit;
    border: 1px solid var(--white-color);
}

.main-btn__green {
    border: 1px solid rgba(51, 122, 91, 0.6);
    color: var(--text-green);
    padding: 8px 24px;
    transition: background-color 0.3s ease,
    color 0.3s ease;
}
.main-btn__green:hover {
    background-color: var(--text-green);
    color: var(--white-color);
}

/* Heading global styles */
.main-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: var(--brand-color);
}

/* Hero conatiner styles */
.hero__container {
    background-image: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #9db2ad;
    padding-top: 40px;
}

/* Site Header styles */
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 100px;
}

/* Logo */
.logo:hover {
    opacity: 0.6;
}

.logo__img {
    display: flex;
    width: 104px;
    height: 64px;
}

/* Site nav */
.sitenav {
    display: flex;
    align-items: center;
}

.sitenav__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 67px;
}

.sitenav__item:not(:last-child) {
    margin-right: 50px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    transition: color 0.3s ease;
}
.bottom-line {
    border-bottom: 2px solid var(--white-color);
    padding-bottom: 3px;
    transition: border-color 0.3s ease;
}
.bottom-line:hover {
    border-color: var(--brand-color);
}


.sitenav__link:hover {
    color: var(--brand-color);
}


.sitenav__btn {
    padding: 10px 49px;
    font-size: 16px;
    line-height: 16px;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 250px;
    padding-right: 45px;
    padding-top: 155px;
    padding-bottom: 300px;
}

/* Hero content */
.hero__content {
    width: 100%;
    max-width: 950px;
    margin-right: 185px;
    color: var(--white-color);
}

.hero__content__heading {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 18px;
}

.hero__content__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #f8f8f8;
    text-align: center;
    margin-bottom: 37px;
}

.hero__btn__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__btn__order {
    font-size: 14px;
    line-height: 120%;
}


.hero__content__btn {
    position: relative;
    padding: 11px 34px 11px 68px ;
    margin-left: 10px;
    font-size: 14px;
    line-height: 120%;
}

.hero__content__btn > svg {
    position: absolute;
    width: 20px;
    height: 20px;
    right: calc(100% - 56px);
    bottom: calc(100% - 30px);
}

/* Hero page link  */
.hero__page__link__list {
    list-style: none;
}
.hero__page__link__item {
    margin-bottom: 16px;
}

.hero__page__link {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 900;
    transition: color 0.3s ease,
    border-bottom 0.3s ease;
}
.hero__page__link:hover,
.hero__page__link:active,
.checked{
    color: var(--brand-color);
    border-bottom: 1px solid var(--brand-color);
    padding: 2px;
}

/* Main content */
.main-content {
    flex-grow: 1;
}

/* About us  */
.about-us {
    margin-top: 120px;
    margin-bottom: 120px;
}


.about-us__info {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}

.about-us__info__heading {
    margin-right: 75px;
}

.about-us__info__text {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}

/* about-us list */
.about-us__list {
    display: flex;
}

.about-us__link {
    display: inline-block;
    width: 100%;
    max-width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    background-color: #fff;
    flex-grow: 1;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 41px;
    padding-bottom: 56px;
    text-decoration: none;
    color: var(--brand-color);
    transition: background-color 0.3s ease,
    color 0.3s ease;
}
.about-us__link:hover,
.hovered {
    background-color: var(--text-green);
    color: var(--white-color);
}
.about-us__link:hover .about-us__item__text {
    color: rgba(255, 255, 255, 0.8);
}

.about-us__link:not(:last-child) {
    margin-right: 80px;
}

.about-us__item__heading {
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-us__item__text {
    font-family: 'Raleway';
    font-weight: 500;
}

 /* Products  */

.products__heading {
    text-align: center;
    margin-bottom: 35px;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -27px;
    list-style: none;
}

.products__item {
    margin-left: 27px;
    width: 100%;
    max-width: 280px;
}

.img-btn__wrapper {
    position: relative;
}
.products__img {
    display: flex;
    width: 280px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
/* Button styles */
.like__input {
    position: absolute;
    top: 15px;
    right: 15px;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: var(--white-color);
    background-image: url(../img/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    border-radius: 50%;
}

.like__input:checked {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23285A43' d='M6.25002 3.33338C3.71877 3.33338 1.66669 5.38546 1.66669 7.91671C1.66669 12.5 7.08335 16.6667 10 17.6359C12.9167 16.6667 18.3334 12.5 18.3334 7.91671C18.3334 5.38546 16.2813 3.33338 13.75 3.33338C12.2 3.33338 10.8292 4.10296 10 5.28088C9.57739 4.67888 9.01592 4.18758 8.36316 3.84858C7.7104 3.50958 6.98556 3.33286 6.25002 3.33338Z' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
}

/* Products info content */
.products__info__content {
    display: flex;
    padding: 10px 24px;
    background-color: var(--white-color);
}



/* .like-btn {
    position: absolute;
    right: 35px;
    top: 15px;
    padding: 6px;
    background-color: var(--white-color);
    border: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.heart {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    color: none;
}

.liked {
    color: transparent;
} */

/* Retina display  */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
.hero__container {
    background-image: url(../img/hero-bg@2x.jpg);
}
}